#orderSum{
    border-bottom: 4px solid;
    border-top: 4px solid;
    border-color:#74a6d9;
}

#orderSum, #productsItem, #productsHeader{
 border-left: 4px solid;
 border-right: 4px solid;
 border-color: #74a6d9;
}

#productsItem, #productsHeader{
    border-bottom: 1px solid;
    border-color: #74a6d9;
}