<div class="container mt-4">
    <div id="titlerow" class="row text-center">
        <div class="col">Brand</div>
    </div>
    <% brands.forEach(brand => { %>
    <div id="itemRow" class="row text-center mt-3">
        <div class="col"><p><%=brand.brand%></p></div>
        <div class="col">
            <button id="deletebtn" class="rounded" onclick="deleteBrand(<%=brand.id%>)"><i class="bi bi-fire"></i></button>
            <button id="updatebtn" class="rounded" data-bs-toggle="modal" data-bs-target="#multiModal"  data-bs-whatever="<%=JSON.stringify(brand)%>"><i class="bi bi-brush"></i></button>
        </div>  
    </div>
    <%})%>
</div>
<div class="container mt-4">
    <button id="addButton" type="button" class="btn rounded text-center" data-bs-toggle="modal" data-bs-target="#multiModal" aria-label="addProduct">Add Brand</button>
</div>
