<div class="container mt-4">
    <div id="titlerow" class="row text-center">
        <div class="col">Category</div>
    </div>
    <% categories.forEach(categories => { %>
    <div id="itemRow" class="row text-center mt-3">
        <div class="col"><p><%=categories.category%></p></div>
        <div class="col">
            <button id="deletebtn" class="rounded" onclick="deleteCategory(<%=categories.id%>)"><i class="bi bi-fire"></i></button>
            <button id="updatebtn" type="button" class="rounded" data-bs-toggle="modal" data-bs-target="#multiModal"  data-bs-whatever="<%=JSON.stringify(categories)%>"><i class="bi bi-brush"></i></button>
        </div>  
    </div>
    <%})%>
</div>
<div class="container mt-4">
    <button id="addButton" type="button" class="btn rounded" data-bs-toggle="modal" data-bs-target="#multiModal" aria-label="addCategory">Add Category</button>
</div>