<nav id="navbar" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active ms-5 me-3 fs-5" href="/">Login</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active fs-5" href="/admin/products">Products</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active fs-5" href="/admin/categories">Categories</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active fs-5" href="/admin/brands">Brands</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active fs-5" href="/admin/roles">Roles</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active fs-5" href="/admin/users">Users</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active fs-5" href="/admin/orders">Orders</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active fs-5" href="/admin/membership">Membership</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

